* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
body {
  background: linear-gradient(135deg , #667eea , #764ba2);
  min-height: 100vh;
  display: flex;
  font-family: Arial;
  justify-content: center;
  align-items: center;

}

input {
  padding: 5px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
  transform: scale(1.05);
}

li {
  margin-top: 10px;
}

input{
  border-radius: 7px;
}



